project/project
project/metals.sbt
project/target
.scala-build/
.bsp/
target
tmp
.history
dist
.idea
.idea_modules
.classpath
.project
.cache
.target
.settings
.DS_Store
.bin
*.swp
.cache-main
.bsp/
.bloop/
.sbtboot/
.sbtglobal/
.metals/
.vscode/
